* {
  box-sizing: box-sizing;
  margin: 0%;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
canvas {
  border: 1px solid black;
  padding: 1rem;
}
